:root {
	--primary-400: hsl(180, 29%, 50%);

	--neutral-300: hsl(180, 52%, 96%);
	--neutral-400: hsl(180, 31%, 95%);
	--neutral-500: hsl(180, 8%, 52%);
	--neutral-600: hsl(180, 14%, 20%);

	--white: #fff;

	--box-shadow: 0rem 0.5rem 2rem rgba(0, 0, 0, 0.2);
	--br: 0.5rem;
}

$v-20: 125em; // 2000px
$v-14: 90em; //1440px
$v-10: 62.5em; //1000px
$v-6: 35.5em; //568px
